.cars3 {
    color: rgb(255, 170, 0);
    font-size: xx-large;
    width: auto;
    height: auto;
    margin-left: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.line3 {
    width: 300px;
    height: 5px;
    background-color: rgb(255, 170, 0);
    margin: auto;
    margin-top: -30px;
    margin-left: 600px;
}

body {
    background-image: url(../img/carhatc.jpg);
    background-size: cover;
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.jdmhatchback1 {
    width: 300px;
    height: 300px;
    border: 3px solid rgb(255, 170, 0);
    background: none;
    text-align: center;
    float: left;
    margin-left: 200px;
    margin-top: 30px;
    color: rgb(255, 170, 0);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 30px;
}

.jdmhatchback1:hover {
    background-image: url(../img/gif/toyotahatch.gif);
    background-size: cover;
    color: darkred;
}

.jdmhatchback2 {
    width: 300px;
    height: 300px;
    border: 3px solid rgb(255, 170, 0);
    background: none;
    text-align: center;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    color: rgb(255, 170, 0);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 30px;
}

.jdmhatchback2:hover {
    background-image: url(../img/gif/luxeshatch\ \(1\).gif);
    background-size: cover;
    color: darkred;
}

.jdmhatchback3 {
    width: 300px;
    height: 300px;
    border: 3px solid rgb(255, 170, 0);
    background: none;
    text-align: center;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    color: rgb(255, 170, 0);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 30px;
}

.jdmhatchback3:hover {
    background-image: url(../img/gif/hondahatch.gif);
    background-size: cover;
    color: darkred;
}


.more11 {
    text-decoration: none;
    color: rgb(255, 170, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.more12 {
    text-decoration: none;
    color: rgb(255, 170, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.more13 {
    text-decoration: none;
    color: rgb(255, 170, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.more14 {
    text-decoration: none;
    color: rgb(255, 170, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}